.header {
  width: 100%;
  height: 88vh;
  position: relative;
}

.header img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.title {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 65%,
    rgba(10, 10, 12, 0.1) 70%,
    #111415 90%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding-bottom: 35px; */
  padding-top: 80%;
  text-align: center;
  width: 100%;
}

.bot {
  height: 1000px;
  color: #111415;
  /* border: 2px solid green; */
}

.title {
  border-bottom: 5px double white;
}

.own {
  height: 30px;
  width: 30px;
}

.cardinfo {
  height: 100vh;
  padding: 5em;
  min-height: 100vh;
}

.column {
  /* border-image: linear-gradient(#f0e6d2, #ffd582) 1; */
  /* border-width: 1px;
  border-style: solid; */
}

.cell {
  border-image: linear-gradient(#f0e6d2, #ffd582) 1;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5em;
}

.usersMidBot {
  border: 1px solid #f0e6d2;
}

.usersRight {
  border-image: linear-gradient(#f0e6d2, #ffd582) 1;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em;
}
