@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway:100,300,400&display=swap");
* {
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  height: 100vh;
  width: 100vw;
  /* border: 2px solid blue; */
  background: #131515;
}

.wrapper {
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
}

.info {
  height: 100%;
  width: 100%;
  /* border: 10px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.meta {
  border: 2px solid red;
  height: 100%;
  width: 100%;
  padding: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  /* border: 2px solid firebrick; */
  color: white;
  font-size: 2em;
  text-align: center;
  font-family: "Cinzel";
  font-weight: lighter;
  padding: 1em;
}

.description {
  /* border: 2px solid white; */
  color: white;
  /* border: 2px solid white; */
  color: white;
  font-family: "Raleway";
  font-weight: 400;
  padding: 1em;
}

.description h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: lightgoldenrodyellow;
}

.description p {
  margin-bottom: 1em;
}

.preview {
  /* border: 5px solid palegreen; */
  height: 100%;
  width: 100%;
}

.preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.more {
  /* border: 2px solid purple; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
  align-items: flex-start;
}

.morecontainer {
  width: 40%;
  margin: 1em;
  /* border: 5px solid  blue; */
}

.moretitle {
  color: #f0e6d2;
  width: 100%;
  font-family: "Cinzel";
  font-size: 1em;

  /* border: 5px dotted red; */
}

.morevalue {
  color: #f0e6d2;
  width: 100%;
  font-family: "Raleway";
  font-size: 1em;

  /* border: 2px solid green; */
}

.user {
  width: 100%;
  /* border: 5px solid red; */
}

.userlike {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: grey 1px solid;
  color: white;
  font-family: "Raleway";
  font-weight: 200;
}

.userlove {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: grey 1px solid;
  color: white;
  font-family: "Raleway";
  font-weight: 200;
}

.userwant {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: grey 1px solid; */
  color: white;
  font-family: "Raleway";
  font-weight: 200;
}

.userroundedProfil {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 1em;
  border: 2px solid pink;
  cursor: pointer;
  background: white;
}

.userroundedProfil img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.userlikelist {
  /* border: 2px solid blue; */
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.userlovelist {
  /* border: 2px solid blue; */
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.userwantlist {
  /* border: 2px solid blue; */
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.number {
  position: absolute;
  color: beige;
  font-size: 6em;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-family: "Cinzel";
  font-weight: bolder;
  mix-blend-mode: soft-light;
}

@media screen and (max-width: 800px) {
  .info {
    flex-direction: column;
  }
}
