.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: contain;
  object-position: center;
}

.slideBg {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  filter: blur(20px);
  opacity: 0.5;
}

.ActionsLayerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.ActionsLayerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previousButton {
  cursor: pointer;
  flex: 0.1;
}

.showImage {
  cursor: zoom-in;
  flex: 1;
}

.nextButton {
  cursor: pointer;
  flex: 0.1;
}


.modalPrerviewContainer {
  height: 100vh;
  width: 100vw;
  /* border: 15px solid green; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  
}
.modalPrerviewWrapper {
  height: 100%;
  padding: 1em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modalPrerviewWrapper img {
  height: 100%;
  border-radius: 1em;
  width: 100%;
  object-fit: contain;
  object-position: center;
}