.usersContainer {
    height: 100%;
    width: 100%;
  
    /* border: 5px solid green; */
  }
  
  .wrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  
    justify-items: stretch;
    align-items: stretch;
  
    justify-content: center;
    align-content: center;
  
    grid-auto-flow: row;
  
    /* border: 10px solid blue; */
  }